.App {
  text-align: center;
   background: linear-gradient(#e66465, #9198e5)
  

}

/** center */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.btn{
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

/* Detail Page */
.detail-container{
  display: flex;
}
.detail-btn {
  justify-content: "flex-start"
}

