.App {
  text-align: center;
  background: wheat;
  

}

/** center */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.btn{
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}


