.App {
  text-align: center;
}

/** body */
body{
  background: rgb(34,193,195);
  font-family: "work sans";
}

/** sign-in */
.sign-in-btn{
    text-align: center;
    margin: 30px;
    font-size: 18px;
    height: 65px;
    width: 250px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
    background: white;
    cursor: pointer;
   
}
/** center */
.center {
  display: block;
    width: 200px; 
    margin: 0 auto;
    padding: 10px;   
}
